h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

h4 {
  margin: 30px;
}

.badge {
  margin: auto;
  padding-left: 6em;
  padding-right: 6em;
  text-align: center;
}

.card {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 1rem;
}

.card-text {
  font-weight: bold;
}
